<form [formGroup]="form" (ngSubmit)="setFullName()" id="form">
    <div>
      <div class="input-wrap">
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name">
      </div>
      <div *ngIf="form.controls.name.invalid && form.controls.name.touched" class="error-text">
        <p *ngIf="form.controls.name.errors.required">Name is required.</p>
        <p *ngIf="form.controls.name.errors?.maxlength">Name must be at most 20 characters long.</p>
        <p *ngIf="form.controls.name.errors?.pattern">Name can only contain characters and whitespace.</p>
      </div>
    </div>
    <div>
      <div class="input-wrap">
        <label for="surname">Surname:</label>
        <input id="surname" type="text" formControlName="surname">
      </div>
      <div *ngIf="form.controls.surname.invalid && form.controls.surname.touched" class="error-text">
        <p *ngIf="form.controls.surname.errors.required">Surname is required.</p>
        <p *ngIf="form.controls.surname.errors?.maxlength">Surname must be at most 25 characters long.</p>
        <p *ngIf="form.controls.surname.errors?.pattern">Surname can only contain characters and whitespace.</p>
      </div>
    </div>
    <div>
      <div class="input-wrap">
        <label for="format">Format:</label>
        <select id="format" formControlName="format">
          <option value="json">JSON</option>
          <option value="xml">XML</option>
        </select>
      </div>
    </div>
  
    <button type="submit" [disabled]="form.invalid">SET</button>
</form>
